
@media (max-width: 768px) {

    body.body-container {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
    }

    section.hero-container {
  
        margin-left: 2rem;
    }
    
    section.hero-container > p {
  
        text-align: right;
    }


    main.main-articles-container {
  

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }



    div#contact-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 2rem;
    }

    section.footnote-section-container {
        

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        padding: 5.9375rem 1rem 9.8125rem 1rem;
    }

    div.footnote-column-one p {
        width: auto;
    }


    div.mobile-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 2rem;
    }

  
    div.footnote-column-one {

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;

        padding-left: 2rem;
        padding-right: 2rem;
        
    }

}