@import url("reset.css");
@import url("style-tablet.css");
@import url("style-mobile.css");

/*
* Styling for Elements within the Body Container
* Foundation for Overall Website Grid Layout
*/
.body-container {
  display: grid;
  grid-template-areas:
    "header header header"
    "main main sidebar"
    "footer footer footer";

  /* grid-template-rows: 1fr 3fr 1fr; */
  grid-template-columns: 2fr 1fr;

  grid-gap: 1.5rem;
}

/*
* Styling for Elements within the Header Element
* This includes layout configuration for elements within the header
*/
.header-container {
  background: #ffe7e7;
  /* border: 1px solid #1044FF; */
  grid-area: header;
  display: grid;
  grid-template-areas:
    "nav"
    "hero";

  grid-template-columns: 1fr;
}

.desktop-hide {
  display: none;
}

.mobile-hide {
  display: block;
}
/*
* Styling for Elements within the Articles Element
* This includes layout configuration 
*/
.main-articles-container {

  grid-area: main;
  display: grid;
  grid-template-areas:
    "card-one card-two"
    "card-three card-four"
    "card-five card-six"
    "bottom-nav bottom-nav";

  grid-template-columns: 2fr 2fr;

  grid-gap: 5.5em;
}

/*
* Styling for specific cards
* This includes layout configuration
* Including Grid positioning 
*/
.card-one {
  grid-area: card-one;
}

.card-two {
  grid-area: card-two;
}

.card-three {
  grid-area: card-three;
}

.card-four {
  grid-area: card-four;
}

.card-five {
  grid-area: card-five;
}

.card-six {
  grid-area: card-six;
}

/*
* Styling for Elements in the Sidebar
* This includes layout configuration 
*/
.aside-container {
  /* background: #05b139; */
  /* border: 1px solid #1044ff; */
  /* width: 23.125rem; */
  /* margin-right: 5em; */
  grid-area: sidebar;
  display: grid;
  grid-template-areas:
    "categories"
    "recent-post"
    "tags";

  grid-template-columns: 1fr;

  grid-gap: 1.5em;
}

/*
* Styling for the bottom Navigation
* This includes layout configuration 
*/
.bottom-nav {
  grid-area: bottom-nav;
  align-self: center;
}

.bottom-nav ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style-type: none;
}

.bottom-nav li > a {
  text-decoration: none;

  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  text-align: center;
  color: #1044ff;
}

#bottom-nav-block-one {
  background: #1044ff;
  border-radius: 3px;
  width: 3rem;
  height: 3rem;
  text-align: center;
  padding-top: 0.7rem;
}

#bottom-nav-block-two {
  border: 1px solid #1044ff;
  width: 3rem;
  height: 3rem;
  text-align: center;
  padding-top: 0.7rem;

  mix-blend-mode: normal;
  border-radius: 3px;
}

#bottom-nav-next {
  border: 1px solid #1044ff;
  width: 6.625rem;
  height: 3rem;
  text-align: center;
  padding-top: 0.7rem;

  mix-blend-mode: normal;
  border-radius: 3px;
}

#bottom-nav-block-one > a {
  color: #ffffff;
}

/*
* Styling for the contact info section within the Footer Section
* This includes layout configuration 
*/
.contact-section-container {
  background-color: #ffe7e7;
  grid-area: contact;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 5rem;

  padding: 3.8125rem 6.125rem 6rem 6.125rem;
}

#contact-cards {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}

#office-contact,
#mobile-contact,
#email-contact {
  width: 23.125rem;
  height: 7rem;
  background: rgba(255, 255, 255, 0.55);
  border-radius: 0.625rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 1.5rem;
}

.icon-resize ~ div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.3rem;
}

.contact-section-container > p {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  text-align: center;

  color: #1044ff;
}

.contact-section-container > h2 {
  font-family: "Noticia Text", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  /* identical to box height, or 114% */

  text-align: center;

  color: #112a52;
}

.icon-resize {
  width: 2rem;
  height: 2rem;
}

.contact-text-style {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  color: #0c1f3f;
}

.contact-info-style {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: rgba(51, 51, 51, 0.65);
}

.contact-info-style-email {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Text_Black */

  color: #333333;
}

/*
* Styling for the Footnote Section Container
* This includes layout configuration 
*/
.footnote-section-container {
  background: #1044ff;
  grid-area: footnote;

  display: flex;
  justify-content: space-around;

  padding: 5.9375rem 0 9.8125rem 0;
}

.footnote-column-one {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
 
}

.footnote-column-one p {
  width: 29.375rem;
}

.footnote-column-two,
.footnote-column-three,
.footnote-column-four {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  /* Text_White_50% */
  color: rgba(255, 255, 255, 0.5);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 2rem;
}

.mobile-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 4rem;
    }

.footnote-column-two h4,
.footnote-column-three h4,
.footnote-column-four h4 {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #fcd8d4;
}

#social-icons {
  display: flex;
  justify-content: space-around;
  align-self:baseline;
  gap: 1rem;
  
}

#social-icons img {
  width: 2rem;
  height: 2rem;
}

.footnote-column-one h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 80px;
  /* identical to box height, or 267% */

  letter-spacing: 4px;

  color: #FCD8D4;
}

.footnote-column-one p {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  /* or 160% */


  color: #FFFFFF;
}

/*
* Styling for the Trademark Section Container
* This includes layout configuration 
*/
.trademark-section-container {
  grid-area: trademark;
  display: flex;
  justify-content: center;
  padding: 1.75rem 0;
  background: #0C1F3F;
}

.trademark-section-container p {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  text-align: center;

  color: #FFFFFF;
}

/*
* Styling for elements within the Footer Container
* This includes layout configuration 
*/

.footer-container {
  
  grid-area: footer;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/*
* Styling for each article item
* This includes layout configuration 
*/
.article-item-container {
  /* border: 1px solid #1044ff; */

  display: flex;
  flex-direction: column;
  gap: 2em;
}

/*
* Styling for Categories Section in the Sidebar
* This includes layout configuration 
* Overall Design with .categories-section
* Followed by styling for individual children: h2, p
*/

.categories-section {
  border: 1px solid #1044ff;
  height: 23em;
  grid-area: categories;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  padding: 2.5em 2em;
}

.categories-section h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  /* Text_Black */

  color: #333333;
}

.categories-section p {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  /* Text_Black */

  color: #333333;

  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid #1044ff;
  padding-bottom: 0.875em;
}

.categories-section span {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* text-align: right; */
  /* align-self: flex-end; */

  color: rgba(51, 51, 51, 0.65);
}

/*
* Styling for Elements in the Recent Post Section in the Sidebar
* This includes layout configuration 
*/

.recent-post-section {
  border: 1px solid #1044ff;
  height: 23em;
  grid-area: recent-post;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  padding: 2.5em 2em;
}

.sidebar-image {
  width: 4.375em;
  height: 3em;
  border-radius: 5px;
}

.recent-post-container {
  /* border: 1px solid #1044ff; */
  display: flex;
  gap: 1em;
}

.recent-post-headline {
  border: 1px solid #ffffff;
}

.recent-post-section h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  /* Text_Black */
  color: #333333;
}

.recent-post-headline p {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 13.75em;
  /* or 150% */

  color: rgba(51, 51, 51, 0.65);
}

#post-date {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  /* identical to box height, or 200% */

  /* Text_Black */

  color: #333333;
}

/*
* Styling for Elements in the Tags Section in the Sidebar
* This includes layout configuration 
*/

.tags-section {
  border: 1px solid #1044ff;
  height: 23em;
  grid-area: tags;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  padding: 2.5em 2em;
}

.tags-section h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  /* Text_Black */
  color: #333333;
}

.tags-section p {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Text_Black */

  color: #333333;
}

#tag-keywords {
  display: flex;
  justify-content: space-between;
}

#tag-keywords p {
  margin-bottom: 1em;
}

/*
* Styling for List Elements or navigation
* This includes layout configuration 
*/

.nav-container ul {
  list-style-type: none;
  grid-area: nav;
  /* align-self: center; */
}

.nav-container ul li {
  display: inline;
}

/*
* Styling for each navigation block: Blog
* This includes layout configuration 
* Additional styling can be added here later on
*/

#nav-blog {
  margin-left: 3em;
  margin-right: 3em;

  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;

  /* identical to box height */
  color: #1044ff;
  mix-blend-mode: normal;
}

/*
* Common styling for all components of the navigation: Home, Blog, About etc
* This includes layout configuration 
* Additional styling can be added here later on
*/

#nav-blog,
#nav-about,
#nav-contact,
#home,
#sign-up {
  text-decoration: none;
}

/*
* Styling for each navigation block: Home
* This includes layout configuration 
* Additional styling can be added here later on
*/

#home {
  font-family: "Noticia Text", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 80px;
  /* identical to box height, or 267% */
  letter-spacing: 4px;
  color: #1044ff;
}

/*
* Styling for each navigation block: About & Contact
* This includes layout configuration 
* Additional styling can be added here later on
*/

#nav-about,
#nav-contact {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  color: #1044ff;
  mix-blend-mode: normal;
}

#sign-up {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  /* or 186% */
  color: #ffffff;
  margin-left: 2em;
  margin-right: 1em;
}

.button-design {
  background: #1044ff;
  border-radius: 0.625em;
  padding: 0.5em;
  width: 6.5em;
}

.hero-container {
  height: 32em;
  grid-area: hero;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-container h1 {
  font-family: "Noticia Text", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 80px;
  color: #1044ff;
}

.hero-container p {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #1044ff;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 3em;
  margin-right: 3em;
  position: relative;
}

/*
* Styling for the small bitmap images in each card
*/

.author-bitmap {
  border-radius: 50%;
  border: 1px solid #000208;
  width: 2rem;
  height: 2rem;
}

/*
* Sytling for Images in Cards
*/

.card-image {
  border-radius: 0.625em;
  height: auto;
  width: 100%;
}

/*
* Styling for Blog Caption in each card
*/

.blog-caption {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Text_Black */

  color: #333333;
}

/*
* Styling for Blog Title in each Card
*/

.blog-title {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */

  color: #112a52;
  padding-right: 5em;
}

/*
* Styling for Author Name in each Card
*/

.author-name {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  color: rgba(51, 51, 51, 0.65);

  align-self: center;
}

/*
* Author Container Styling and layout
* Including Bitmap and Name
*/

.author-container {
  display: flex;
  align-content: center;
  gap: 1em;
}
