@media (max-width: 1200px) {

       body.body-container {

            display: grid;
            grid-template-areas:
                "header"
                "main"
                "sidebar"
                "footer";

            /* grid-template-rows: 1fr 3fr 1fr; */
            grid-template-columns: 1fr;

    
        }

    
}

@media (max-width: 1024px) {

        .desktop-hide {
            display: flex;
        }

    .mobile-hide {
            display: none;
    }
    
}