@media (max-width: 768px) {
  body.body-container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }

  section.hero-container {
    margin-left: 2rem;
  }

  section.hero-container > p {
    text-align: right;
  }

  main.main-articles-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  div#contact-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
  }

  section.footnote-section-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    padding: 5.9375rem 1rem 9.8125rem 1rem;
  }

  div.footnote-column-one p {
    width: auto;
  }

  div.mobile-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2rem;
  }

  div.footnote-column-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;

    padding-left: 2rem;
    padding-right: 2rem;
  }

  /*
    * BLOG ENTRY STYLING
    * SPECIFIC STYLING TO THE BLOG ENTRY CONTENT
    */

  section#entry-title-bloc h2 {
    width: auto;
  }

  #author-title-block {
    flex-wrap: wrap;
  }

  #entry-footnote {
    flex-wrap: wrap;
    gap: 2rem;
  }

  div.main-articles-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  aside {
    padding-top: 5rem;
    padding-bottom: 3rem;
  }

  img#author-entry-bitmap {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
  }
}

/*
* CSS STYLING FOR SMALLER SCREEN SIZES
* BELOW 500PX (iPhone SE, XR, etc)
*/


@media (max-width: 500px) {
  body.body-container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }

  section.hero-container {
    margin-left: 2rem;
  }

  section.hero-container > p {
    text-align: right;
  }

  main.main-articles-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  div#contact-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
  }

  section.footnote-section-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    padding: 5.9375rem 1rem 9.8125rem 1rem;
  }

  div.footnote-column-one p {
    width: auto;
  }

  div.mobile-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2rem;
  }

  div.footnote-column-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;

    padding-left: 2rem;
    padding-right: 2rem;
  }

  /*
    * BLOG ENTRY STYLING
    * SPECIFIC STYLING TO THE BLOG ENTRY CONTENT
    */

  section#entry-title-bloc h2 {
    width: auto;
  }

  #author-title-block {
    flex-wrap: wrap;
  }

  #entry-footnote {
    flex-wrap: wrap;
    gap: 2rem;
  }

  div.main-articles-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  aside {
    padding-top: 5rem;
    padding-bottom: 3rem;
  }

  img#author-entry-bitmap {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
  }

  section.hero-container h1 {
  
  font-size: 2rem;
  line-height: 2rem;
  
}

section.hero-container p{
  font-size: 10px;
  text-align: center;
  align-self: center;
}

header.header-container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

body.body-container {
  padding: 1.5rem;
}

div#office-contact,
div#mobile-contact,
div#email-contact {
  width: 18rem;
  height: 7rem;
  padding-left: 1rem;
}

section#entry-title-bloc h2 {
  
  font-size: 36px;
  line-height: 40px;
}

img.sidebar-image {
  width: 4rem;
  height: 2em;
  border-radius: 2px;
  margin-top: 0.5rem;
}

}